
html
    head
     title= 'Cars'
     -var cars= items
     link(rel="stylesheet" type="text/css" href="/styles/cars.css")
    body
        div(class='header') 
            h1 Vehicle List
            a(href='/cars/add' class='addCar') +
            a(href='/signin' class='signin') Sign In
        div(class='carListContainer')
            each val in items
                div(class='carContainer' onclick=("getEditCar(\'"+val.name+"\',\'"+val.make+"\',\'"+val.model+"\',\'"+val.color+"\',\'"+val.year+"\',\'"+val.miles+"\',\'"+val.description+"\')") id=val.name)
                    p(name="Name") Name: #{val.name}
                    p(name="Make") Make: #{val.make}
                    p(name="Model") Model: #{val.model}
                    p(name="Color") Color: #{val.color}
                    p(name="Year") Year: #{val.year}
                    p(name="Miles") Miles: #{val.miles}
                    p(name="Description") Description: #{val.description}
        script(src="/scripts/editCar.js")
        
    